1 TYPELIB "F:\\google_drive\\project_STM32\\VS2012\\AFM_GUI_solution_integration\\AFM_Project\\MKernel\\src\\MKernel_idl.tlb"
2 RT_RCDATA "F:\\google_drive\\project_STM32\\VS2012\\AFM_GUI_solution_integration\\AFM_Project\\MKernel\\src\\MKernel.ctf"
  
